.layout {
  display: flex;
  height: 100vh;
  background-color: #f4f6f9;
}

.layout-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.layout-content {
  padding: 20px;
  overflow-y: auto;
}
